<%- include("includes/head.ejs") %>
    <body>
        <h1>Home page <%= num %></h1>
        <button>Click me</button>
        <button>Clik</button>
        <% if(num == 6){ %>
<h1>Print <%=num%></h1>

       <% }%>
        
            <h1>1 + 2</h1>
            <!-- <h1><%= 1 + 2 %></h1> -->
             <!-- <h2><%= "Hello".toUpperCase() %></h2> -->
              <!-- <h3><%= ["Hello", "Hey", "Bye"][0] %></h3> -->


</body>
