
<%- include("includes/Head.ejs") %>

<div class="container">
    <h4 class="text-center p-2">User List</h4>
    <hr />
    <% if (findUser && findUser.length> 0) {%>
    <% findUser.map((user) => { %>
    <div class="contant_container">

        <h3>Name: <%= user.name %></h3>
        <h5>Price: <%= user.price %></h5>
        <p>Contact: <%= user.contant %></p>
        <a href="/user/<%=user._id%>"
            class="btn text-bg-success fw-bold">Edit</a>
        <form class="d-inline"
            action="/user/<%= user._id %>?_method=DELETE"
            method="POST">
            <button class="btn text-bg-warning fw-bold"
                type="submit">Delete</button>
        </form>

    </div>
    <hr>
    <% }) %>
    <% } else { %>
    <p class="text-center fw-bold fs-3">No users found</p>
    <% } %>
</div>